*
{
    font-family: 'Comic Sans MS'
}
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Додано - відстань між елементами */
    border: 3px solid rgb(29, 71, 43);
    padding: 20px; /* Додано */
    
    
}
.name-of-portal
{
    display:flex;
    justify-content: center;
    
    align-items: center; /* Додано */
    font-size: 40px;
    flex-shrink: 0; /* Не дозволяє стискатися */
}
.logo
{
    display:flex;
    justify-content: center;
    align-items: center; /* Додано */
    flex-shrink: 0; /* Не дозволяє стискатися */
}
nav
{
    display: flex;
    flex-wrap: wrap; /* Додано - для адаптивності */
    justify-content: space-evenly; /* Додано */
    align-items: center; /* Додано */
    gap: 15px; /* Додано - відстань між посиланнями */
    background-color: rgb(94, 168, 119, 0.7);
    border: 3px solid rgb(29, 71, 43);
    padding: 15px 30px; /* Змінено */
    width: 95%; /* Додано */
    border-radius: 20px;
}
a:link
{
    color:rgb(4, 44, 24) 
}
a:visited
{
    color:rgb(27, 110, 82)
}
fieldset
{

    display: flex; /* Додано */
    flex-direction: column; /* Додано */
    gap: 15px; /* Додано - відстань між полями форми */
    border: rgb(4, 44, 24) solid 1px;
    background-color: rgb(94, 168, 119, 0.7);  
    box-shadow: 2px 3px 2px 1px rgb(20, 93, 95),
                2px 3px 3px 1px rgb(32, 188, 125);
    color: rgb(4, 44, 24);
    padding: 20px; /* Додано */
    flex-grow: 1; 
    border-radius: 25px;
}
label
{
 color:rgb(4, 44, 24);
 
}
input
{
    display:flex;
    border:rgb(4, 44, 24) 2px solid;
    padding: 10px;
    

}
select
{
    
    color:rgb(4, 44, 24);
    border: rgb(4, 44, 24) solid 2px;
    box-shadow: 2px 3px 2px 1px rgb(20, 93, 95),
                2px 3px 3px 1px rgb(32, 188, 125);
    padding: 5px;
    background-color: rgb(94, 168, 119,0.7); 
    border-radius: 30px; 
}
textarea
{
   
    border:rgb(4, 44, 24) 2px solid;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 2px 3px 2px 1px rgb(20, 93, 95),
                2px 3px 3px 1px rgb(32, 188, 125);

}
button
{
    border:rgb(4, 44, 24) 2px solid;
    padding: 10px;
    border-radius: 13%;
    background-color:rgb(94, 168, 119,0.7) ;
    box-shadow: 2px 3px 2px 1px rgb(20, 93, 95),
                2px 3px 3px 1px rgb(32, 188, 125);
}