*
{
    font-family: 'Comic Sans MS'
}
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    border: 3px solid rgb(29, 71, 43);
    padding: 20px; 
    
    
}
.name-of-portal
{
    display:flex;
    justify-content: center;
    
    align-items: center; 
    font-size: 40px;
    flex-shrink: 0;
}
.logo
{
    display:flex;
    justify-content: center;
    align-items: center; 
    flex-shrink: 0; 
}
nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: center; 
    gap: 15px; 
    background-color: rgb(94, 168, 119, 0.7);
    border: 3px solid rgb(29, 71, 43);
    padding: 15px 30px; 
    width: 95%; 
    border-radius: 20px;
}
a:link
{
    color:rgb(4, 44, 24) 
}
a:visited
{
    color:rgb(27, 110, 82)
}
fieldset
{

    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    border: rgb(4, 44, 24) solid 1px;
    background-color: rgb(94, 168, 119, 0.7);  
    box-shadow: 2px 3px 2px 1px rgb(20, 93, 95),
                2px 3px 3px 1px rgb(32, 188, 125);
    color: rgb(4, 44, 24);
    padding: 20px; /* Додано */
    flex-grow: 1; 
    border-radius: 25px;
}
label
{
 color:rgb(4, 44, 24);
 
}
input
{
    display:flex;
    border:rgb(4, 44, 24) 2px solid;
    padding: 10px;
    

}
select
{
    
    color:rgb(4, 44, 24);
    border: rgb(4, 44, 24) solid 2px;
    box-shadow: 2px 3px 2px 1px rgb(20, 93, 95),
                2px 3px 3px 1px rgb(32, 188, 125);
    padding: 5px;
    background-color: rgb(94, 168, 119,0.7); 
    border-radius: 30px; 
}
textarea
{
   
    border:hidden;
    padding: 10px;
   

}
button
{
    border:rgb(4, 44, 24) 2px solid;
    padding: 10px;
    border-radius: 13%;
    background-color:rgb(94, 168, 119,0.7) ;
    box-shadow: 2px 3px 2px 1px rgb(20, 93, 95),
                2px 3px 3px 1px rgb(32, 188, 125);
}
.tooltip-wrapper{
    position:relative;
}
.tooltip
{
    display: none;
    border:solid grey 1px;
    background-color: rgb(207, 198, 198);
    font-size: 10px;
    color:rgb(86, 86, 86);
    position:absolute;
    bottom: 70px; 
    right: -218px;
    
}